<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 
    <appender name="Appender1" class="org.apache.log4j.ConsoleAppender">
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
       </layout>
    </appender>
  
    <appender name="Appender2" class="org.apache.log4j.FileAppender">
		<param name="File" value="D:/usr/apps/smartbank/application.log" />
		<param name="MaxFileSize" value="100KB" />
		<param name="MaxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
		</layout>
    </appender>
 
	<logger name="com.smartbank.atm" additivity="false">
		<level value="trace"/>
        <appender-ref ref="Appender1" />
        <appender-ref ref="Appender2" />
	</logger>

    <root>
        <priority value="warn"/>
        <appender-ref ref="Appender1" />
    </root>

</log4j:configuration>